---
title: Bushido - The Katana Code Way
layout: global
---

<div class='jumbotron'>
  <div class='container text-center'>
    <h1>Katana Code's Bushido</h1>
  

    <p class='lead'>
      Guidelines to help us make better web and mobile apps together!
    </p>    
  </div>
</div>

<main class='container'>

  <div class='row'>
    
    <div class='xs-hidden col-sm-2 col-md-3 col-lg-3'>
      {% include contents.html %}
    </div>
    
    <div class='col-xs-12 col-sm-8 col-md-9 col-lg-9'>
      
      <blockquote>
        "Learn the rules like a pro, so you can break them like an artist."
        <br>
        —Pablo Picasso
      </blockquote>
      
      {% for category in site.categories %}

        <h2>{{ category | first | replace: '_', " " | capitalize }}</h2>
    
        {% for posts in category %}
          {% for post in posts %}
            {% if post.url %}
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {% endif %}
          {% endfor %}
        {% endfor %}

      {% endfor %}
      
      
    </div>
  </div>

</main>